html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.root-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rm-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 44px;
  border-bottom: 1px solid #c6c6c8;
}

.logo {
  margin-left: 12px;
}

.gnb {
  margin-right: 12px;
}

.main-view {
  display: flex;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #c6c6c8;
  width: 310px;
  background-color: #f5f5fa;
}

.sidebar-footer {
  height: 56px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rm-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
}

.rm-list-header {
  /* height: 62px; */
  flex: 0 0 62px;
  padding-left: 24px;
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rm-list-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.rm-list-body .scrollable-area {
  overflow: auto;
}

.rm-list-footer {
  /*height: 56px;*/
  flex: 0 0 56px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar .scrollable-area {
  padding: 12px 12px 0; /*top, left-right, bottom*/
  flex: 1;
  overflow: auto;
}

.rm-list-menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.rm-list-menu-item.is-selected {
  background-color: rgba(120, 120, 128, .16);
}

.rm-list-menu-item-content {
  display: flex;
  height: 56px;
  padding-left: 12px;
  align-items: center;
}

.rm-list-body-item {
  padding-top: 12px;
  padding-left: 24px;
  display: flex;
  flex-direction: row;
}

.rm-list-body-item-task-icon {
  width: 24px;
  height: 24px;
  background-image: url("/images/QuickActions_Task_2x.png");
  background-size: 100% 100%;
}


.rm-list-body-item-task-icon.is-completed {
  background-image: url("/images/QuickActions_TaskCompleted_2x.png");
  background-size: 100% 100%;
}

.rm-list-body-item-content {
  padding-bottom: 12px;
  padding-left: 12px;
  width: 100%;
}

.rm-list-body-item-content-title {
  display: flex;
  align-items: center;
}

.rm-list-body-item-content-border {
  padding-top: 12px;
  border-bottom: 1px solid #c6c6c8;
}